@font-face {
  font-family: "HKGroteskRegular";
  src: url("../fonts/hkgrotesk-regular-web.woff") format("woff"),
    url("../fonts/hkgrotesk-regular-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HKGroteskMedium";
  src: url("../fonts/hkgrotesk-medium-web.woff") format("woff"),
    url("../fonts/hkgrotesk-medium-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HKGroteskLight";
  src: url("../fonts/hkgrotesk-light-web.woff") format("woff"),
    url("../fonts/hkgrotesk-light-web.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HKGroteskBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/hkgrotesk-bold-web.woff") format("woff"),
    url("../fonts/hkgrotesk-bold-web.woff2") format("woff2");
}
