@font-face {
  font-family: "HKGrotesk-Light", sans-serif;
  src: url("../fonts/HKGrotesk-Light.woff") format("woff"),
    url("../fonts/HKGrotesk-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Regular", sans-serif;
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff"),
    url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Medium", sans-serif;
  src: url("../fonts/HKGrotesk-Medium.woff") format("woff"),
    url("../fonts/HKGrotesk-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HKGrotesk-Bold", sans-serif;
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff"),
    url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
