@media ( max-width: 1200px )
  .container
    max-width: 900px
  .main
    &__container
      max-width: 950px
      padding-left: 50px
      padding-right: 450px

@media  ( max-width: 992px )
  body
    padding-top: 95px
  .container
    max-width: 650px
  .navbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 101
    &__wrapper
      padding-top: 18px
      padding-bottom: 48px
    &__menu
      display: none
    &__item
      &:nth-child(-n+4)
        margin-right: 0px
  .menu
    &-button
      width: 24px
      height: 24px
      display: flex
      padding: 0
      align-items: center
      justify-content: space-around
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 22px
        height: 2.2px
        background-color: #3A4C66
  .mobile
    &-menu
      &--visible
        position: fixed
        top: 94px
        right: 0
        bottom: 0
        left: 0
        display: flex
        flex-direction: column
        align-items: center
        background-color: #E5E5E5
        overflow: auto
      &__list
        flex-direction: column
        align-items: center
      &__item
        margin-bottom: 20px
  .main
    &__container
      max-width: 728px
      padding: 36px 293px 36px 28px
      background-position-x: 62%
    &__hashtag
      margin-bottom: 24px
    &__title
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      margin-bottom: 20px
    &__text
      font-size: 18px
      line-height: 32px
      margin-bottom: 37px
    &__button
      margin-bottom: 41px
@media  ( max-width: 762px )
  .container
    max-width: 576px
    width: 85%
  .main
    &__container
      display: flex
      width: 95%
      min-height: 899px
      background-position-x: 78%
      padding-left: 20px
      padding-right: 20px
      padding-bottom: 36px
      padding-top: 0
      text-align: center
    &__wrapper
      margin-top: auto
    &__service
      max-width: 100%
@media ( max-width: 576px)
  .navbar
    &__wrapper
      padding-bottom: 42px
  .mobile
    &-menu
      &--visible
        top: 88px
  .main
    &__container
      display: flex
      width: 100%
      min-height: 899px
      background-position-x: 78%
      padding-left: 20px
      padding-right: 20px
      padding-bottom: 36px
      padding-top: 0
      text-align: center
    &__wrapper
      margin-top: auto
    &__hashtag
      margin-bottom: 20px
    &__title
      font-size: 32px
      line-height: 40px
      letter-spacing: 0.2px
      margin-bottom: 20px
    &__text
      font-size: 16px
      line-height: 28px
      margin-bottom: 24px
    &__button
      font-size: 16px
      line-height: 22px
      padding: 13px 49px
      margin-bottom: 22px
    &__service
      flex-wrap: wrap
      justify-content: space-around
  .service
    &__text
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
